<%- include('includes/header')%>
<!-- header ends here -->

<div class="container py-md-5 container--narrow">
  
  <%- include('includes/flash') %>

    <h2><img class="avatar-small" src="<%= profileAvatar %>"> <%= profileUsername %>  
      <form class="ml-2 d-inline" action="#" method="POST">
        <!--<button class="btn btn-primary btn-sm">Follow <i class="fas fa-user-plus"></i></button> -->
        <!-- <button class="btn btn-danger btn-sm">Stop Following <i class="fas fa-user-times"></i></button> -->
      </form>
    </h2>
  
    <div class="profile-nav nav nav-tabs pt-2 mb-4">
      <a href="#" class="profile-nav-link nav-item nav-link active">Activities: 3 NEED TO DO </a>
    </div>
  
    <div class="list-group">
        <% activities.forEach(function(activity){ %>
            <a href="/activity/<%= activity._id %>" class="list-group-item list-group-item-action">
                <img class="avatar-tiny" src="<%= activity.author.avatar %>">
                <strong><%= activity.title %></strong> on <%= activity.createdDate.getDate() %>/<%= activity.createdDate.getMonth() + 1 %>/<%= activity.createdDate.getFullYear() %>
              </a>
       <% }) %>
    </div>
  </div>

  <%- include('includes/footer')%>