<%- include('includes/header')%>
<!-- header ends here -->

<div class="container py-md-5">
  
  <%- include('includes/flash') %>

  <div class="row align-items-center">
    <div class="col-lg-7 py-3 py-md-5">
      <h1 class="display-3">Password Reset</h1>      
      <p class="text-muted">You can now reset your password.</p>
    </div>
    <div class="col-lg-5 pl-lg-5 pb-3 py-lg-5">
      <form action="/forgotpassword/reset/<%= token %>" method="POST" id="forgotpassword-form">
        
        <% regErrors.forEach(function(message){ %>
            <div class="alert alert-danger small"><%= message %></div>
          <% }) %>

          <div class="form-group">
            <label for="newPassword" class="text-muted mb-1"><small>Entre in New Password</small></label>
            <input name="newPassword" id="newPassword" class="form-control" type="password" placeholder="New Password" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="confirmNewPassword" class="text-muted mb-1"><small>Confirm New Password</small></label>
            <input name="confirmNewPassword" id="confirmNewPassword" class="form-control" type="password" placeholder="Confirm New Password" autocomplete="off">
          </div>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button type="submit" class="py-3 mt-4 btn btn-lg btn-success btn-block">Update new Password</button>
          
        </form>
        <p>To cancel updating the password, please click on Cancel now:</p>
        <div class="mt-2"><a href="/">Cancel</a></div>

      </div>
    </div>
  </div>
  
<%- include('includes/footer') %>